/* styles.css */
body {
    font-family: sans-serif;
}

.container {
    width: 400px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

input {
    width: 100%;
}

button {
    margin-top: 10px;
}
